<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
  <div class="page-main">
    <div class="page-main-inner">
      <div class="custom-page-wrapper">
        <h2>About</h2>
        <hr />
        <p>
         This service is based on <a href="https://mediacms.io">MediaCMS</a> - a modern, fully featured open source video and media CMS, developed to meet today's needs for viewing and sharing media.
        </p>
        <p>
        Information on the stakeholders and intended audience can be found <a href="https://sciencedata.dk/sites/sciencemedia/">here</a>.
        </p>
      </div>
    </div>
    <div class="page-sidebar-content-overlay"></div>
  </div>
</div>
<div id="app-footer"></div>
