<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
  <div class="page-main">
    <div class="page-main-inner">
      <div class="user-action-form-wrap">
        <div class="user-action-form-inner">
          <h1>Sign In</h1>
            {% load socialaccount %}
            <div class="saml_login">
            <form method="post" action="{% provider_login_url 'https://wayf.wayf.dk' %}">
              {% csrf_token %}
              <button type="submit">Log in via your institution</button>
              <button class="cancelButton" type="button" onclick="cancel_login()">Cancel</button>
            </form>
            </div>
          <p>Guest login <a href="#"><i id="guest_login_toggle" class="material-icons" data-icon="keyboard_arrow_right" onclick="toggle_guest_login()"></i></a></p>
          <form class="login hidden" method="POST" id="login_form" action="#">
            <input type="hidden" name="csrfmiddlewaretoken" value="" />
            <p>
              <label for="id_login">Login:</label>
              <input
                type="text"
                name="login"
                id="id_login"
                required=""
                autofocus="autofocus"
                placeholder="Username or e-mail"
              />
            </p>
            <p>
              <label for="id_password">Password:</label>
              <input type="password" name="password" id="id_password" required="" placeholder="Password" />
            </p>
            <button class="primaryAction" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
    <div class="page-sidebar-content-overlay"></div>
  </div>
</div>
<div id="app-footer"></div>
