<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
  <div class="page-main">
    <div class="page-main-inner">
      <div class="custom-page-wrapper">
        <h2>Terms</h2>
        <hr />
        <p>Use of this service is provided on condition of adherence to applicable law, rules, and regulations - in particular <a href="https://gdpr-info.eu/">GDPR</a>, and to our end user agreement.</p>
      </div>
    </div>
    <div class="page-sidebar-content-overlay"></div>
  </div>
</div>
<div id="app-footer"></div>
