MediaCMS.site = {
 	id: 'mediacms',
    title: "{{PORTAL_NAME}}",
    url: '{{FRONTEND_HOST}}',
    api: '{{FRONTEND_HOST}}/api/v1',
    theme: {
    	mode: '{{DEFAULT_THEME}}',   
		switch: {
			position: 'sidebar',	// Valid values: 'header', 'sidebar'.
		},
    },
    logo:{
    	lightMode:{
            img: "/media/logos/logo_dark.png",
            svg: "/media/logos/logo_dark.svg",
    	},
    	darkMode:{
            img: "/media/logos/logo_light.png",
            svg: "/media/logos/logo_light.svg",
    	},
    },
    pages: {
	    latest:{
	    	title: 'Recent uploads',
	    },
	    featured:{
	    	title: 'Featured',
	    },
	    recommended:{
	    	title: 'Recommended',
	    },
	    members:{
	    	title: 'Members',
	    },
    },
    userPages: {
    	liked: {
	    	title: 'Liked media',
    	},
    	history: {
	    	title: 'History',
    	},
    },
    taxonomies: {
	    tags: {
	    	title: 'Tags',
	    },
	    categories: {
	    	title: 'Categories',
	    },
    },
};

